*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

header,
.nav-left,
.logo,
.nav-right {
  display: flex;
}

header {
  background: linear-gradient(to right, #f1c781 0%, #a2443c 100%);
  padding: 10px 50px;
  justify-content: space-between;
}

header .logo > img {
  height: 100%;
  object-fit: contain;
}

header .hamburger {
  position: relative;
  min-width: 30px;
  min-height: 20px;
  width: 30px;
  height: 20px;
}

header .hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.hamburger .line {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
}

.hamburger .line:nth-child(1) {
  top: 0;
}

.hamburger .line:nth-child(2) {
  top: 50%;
}

.hamburger .line:nth-child(3) {
  top: 100%;
}

.right-menu {
  display: flex;
  align-items: center;
}

.right-menu li {
  display: inline-block;
  text-decoration: none;
}

.right-menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 0 5px;
  font-family: "Julius Sans One", sans-serif;
}

.right-menu a:hover,
.right-menu a.active {
  border-bottom: 3px solid #fff;
}

.help-module {
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-more {
  color: #f7951dd5;
  position: relative;
  margin-bottom: 35px;
}

.see-more::after {
  content: '';
  background-image: url(/assets/imgs/icons8-right-arrow-50.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 53px;
  height: 35px;
  background-size: contain;
  position: absolute;
  top: -5px;
  margin-left: 5px;
}

.main-container .section {
  margin: 25px auto;
  max-width: 90%;
}

.promo-container {
  display: flex;
}

.left-promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 391px;
  width: 50%;
}

.right-promo {
  width: 50%;
}

.product {
  background: #F6D085;
}

.product img {
  height: 100%;
  object-fit: cover;
}

.coming-soon {
  display: none;
}

@media screen and (max-width: 980px) {
  .coming-soon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .coming-soon h1 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 40px;
    animation: textAnime 10s ease-in-out infinite alternate;
  }

  @keyframes textAnime {
    0% {
      background: linear-gradient(to right, #f1c781 0%, #a2443c 100%);
      background-size: 50% 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    100% {
      background: linear-gradient(to right, #f1c781 0%, #a2443c 100%);
      background-size: 100% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .coming-soon p {
    padding: 10px 20px;
    line-height: 1.5;
  }
}
