*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header,
.nav-left,
.logo,
.nav-right {
  display: flex;
}

header {
  background: linear-gradient(to right, #f1c781 0%, #a2443c 100%);
  padding: 10px 50px;
  justify-content: space-between;
}

header .logo > img {
  height: 100%;
  object-fit: contain;
}

header .hamburger {
  position: relative;
  min-width: 30px;
  min-height: 20px;
  width: 30px;
  height: 20px;
}

header .hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.hamburger .line {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
}

.hamburger .line:nth-child(1) {
  top: 0;
}

.hamburger .line:nth-child(2) {
  top: 50%;
}

.hamburger .line:nth-child(3) {
  top: 100%;
}

.right-menu {
  display: flex;
  align-items: center;
}

.right-menu li {
  display: inline-block;
  text-decoration: none;
}

.right-menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 0 5px;
  font-family: 'Julius Sans One', sans-serif;
}

.right-menu a:hover {
  border-bottom: 3px solid #fff;
}
